<!DOCTYPE  html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%=rooturl%>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=rooturl%>/css/bootstrap-theme.min.css">
    <link href="<%=rooturl%>/css/document.css" rel="stylesheet">
    <title><%=title%></title>
    <style>
    </style>
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-collapse">
          <div class="navbar-header">
            <span class="navbar-brand"><a href="./index.html">Grunt ハンズオン</a></span>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="./step-01.html">[基礎編]</a></li>
            <li><a href="./step-02.html">[活用編]</a></li>
            <li><a href="./step-03.html">[テスト編]</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div><%=content%></div>
        <div style="margin-top:40px;text-align:right">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />『<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Grunt ハンズオン</span>』 by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/ototadana/grunt-handson" property="cc:attributionName" rel="cc:attributionURL">Ototadana</a> は<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ 表示 4.0 国際 ライセンス</a>で提供されています。
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </body>
</html>
